@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
.Collateral * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.Collateral .btn-small {
  width: 40px;
  height: 40px;
  background: #c3073f;
  color: white;
  border-radius: 0 10px 10px 0;
}

.Collateral .btn-small>* {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.Collateral .btn-small:hover {
  background: #4e4e50;
}

.Collateral .btn {
  width: max-content;
  border-radius: 10px;
  padding: 10px 40px;
}

.Collateral .btn-form {
  width: 200px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(195, 7, 63, 0.5), 0 0 5px 0 rgba(195, 7, 63, 0.5);
  border-radius: 10px;
  padding: 10px 40px;
}

.Collateral .btn-card {
  width: 80%;
  padding: 10px 25px;
  border-radius: 10px;
  box-shadow: -4px -1px 12px -8px #000000, 4px 1px 12px -8px #000000;
}

.Collateral .btn-category {
  width: 100%;
  padding: 10px 40px;
}

.Collateral .btn-category-left {
  border-radius: 10px 0 0 0;
  box-shadow: -4px -1px 15px -8px #000000;
}

.Collateral .btn-category-right {
  border-radius: 0 10px 0 0;
  box-shadow: 4px -1px 15px -8px #000000;
}

.Collateral .btn-dark {
  background: #c3073f;
  color: white;
}

.Collateral .btn-dark:hover {
  background-color: #950740;
}

.Collateral .btn-light {
  background: white;
  color: #c3073f;
}

.Collateral .btn-light:hover {
  background: #4e4e50;
  color: white;
}

.Collateral .btn-profile {
  display: inline-block;
  width: max-content;
  height: 100%;
  padding: 10px 60px;
  border-radius: 10px;
  box-shadow: -4px -1px 12px -8px #000000, 4px 1px 12px -8px #000000;
}

.Collateral .small-btn-profile {
  display: inline-block;
  width: max-content;
  height: 100%;
  padding: 8px 40px;
  border-radius: 5px;
  box-shadow: -4px -1px 12px -8px #000000, 4px 1px 12px -8px #000000;
}

.Collateral .content-box {
  padding: 0 30px;
}

.Collateral .menu-active {
  border-bottom: 5px solid #c3073f;
}

.Collateral .menu-inactive {
  border-bottom: 5px solid #1a1a1d;
}

.Collateral .highlight {
  color: #c3073f;
}

.Collateral .inputs-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Collateral .inputs-div>aside {
  padding-top: 10px;
  width: 15vw;
}

.Collateral .input-field {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
}

.Collateral input {
  background: white;
  font-size: 1.2rem;
  border-style: none;
  outline-style: none;
  border-radius: 10px;
  box-shadow: inset 4px 4px 5px -4px #000000, inset -4px -4px 5px -4px #000000;
}

.Collateral input:focus:valid {
  border: 1px solid #07ce07;
}

.Collateral input:focus:invalid {
  border: 1px solid red;
}

.Collateral .small-input-field>*>h3 {
  padding-bottom: 12px;
}

.Collateral .small-input-field>*>h3::after {
  content: "*";
  color: red;
}

.Collateral .small-input-field .small-input {
  width: 50%;
  padding: 10px 20px;
}

.Collateral .title-card {
  font-family: "Staatliches", cursive;
  margin-bottom: 20px;
  font-size: 1.5rem;
  padding-bottom: 30px;
  border-bottom: 2px dashed #6d6969;
  text-align: left;
}

.Collateral .title-card>p {
  font-size: 1.2rem;
  width: 50%;
  font-family: "Dosis", sans-serif;
  opacity: 0.5;
}

.Collateral .text-area-input-field>*>h3::after {
  content: "*";
  color: red;
}

.Collateral .text-area-input {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
  resize: none;
  padding: 10px;
}

.Collateral .buttons a {
  font-family: "Staatliches", cursive;
  text-decoration: none;
}

.Collateral .buttons-list {
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
  display: flex;
}

.Collateral .buttons-list>* {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.Collateral .small-buttons-list {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.Collateral .small-buttons-list>* {
  height: 100%;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.Collateral .card-profile {
  width: 100%;
  height: max-content;
  border-radius: 5px;
  box-shadow: -4px -4px 16px -5px #000000, 4px 4px 16px -5px #000000;
  font-size: 1.2rem;
  transition: all 0.2s ease-in;
}

.Collateral .card-profile .photo-space {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 170px;
  background: url("../images/user.jpg") no-repeat center center/cover;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.Collateral .card-profile .user-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.Collateral .card-profile .user-info .name {
  width: 100%;
  font-family: "Staatliches", cursive;
}

.Collateral .card-profile .user-info .loan-contract-details {
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid lightgrey;
  padding-left: 5px;
  font-size: 0.7rem;
  border-bottom: 1.5px dashed #c3073f;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Collateral .card-profile .user-info .loan-contract-details .item {
  margin: 5px;
  text-align: center;
  font-size: 0.8rem;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(1) {
  padding: 5px;
  border-bottom: 1px solid #6f2232;
  border-right: 1px solid #6f2232;
  display: flex;
  justify-content: center;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(1) .total {
  padding-top: 5px;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(1) .total .field {
  color: #c3073f;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(1) .collected {
  display: none;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(1):hover {
  background-color: #c3073f;
  color: white;
  border-radius: 10px 0 0 0;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(1):hover .total {
  display: none;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(1):hover .collected {
  padding-top: 5px;
  display: inline-block;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(1):hover .collected .value {
  color: yellow;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(2) {
  padding: 10px;
  border-bottom: 1px solid #6f2232;
  border-left: 1px solid #6f2232;
  display: flex;
  justify-content: center;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(2) .next-installment .field {
  color: #c3073f;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(2) .amount {
  display: none;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(2):hover {
  background-color: #c3073f;
  color: white;
  border-radius: 0 10px 0 0;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(2):hover .next-installment {
  display: none;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(2):hover .amount {
  display: inline-block;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(2):hover .amount .value {
  color: yellow;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(3) {
  border-top: 1px solid #6f2232;
  border-right: 1px solid #6f2232;
  position: relative;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values .centering {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values .centering .field {
  width: 100%;
  color: #c3073f;
  padding-right: 5px;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values::before {
  transition: width 800ms ease-in-out;
  content: "";
  position: absolute;
  width: 0%;
  height: 90%;
  border-radius: 10px;
  background-color: transparent;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values:hover {
  background: #c3073f;
  border-radius: 0 0 0 10px;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values:hover .centering .field {
  z-index: 2;
  color: white;
  padding-right: 5px;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values:hover .centering .value {
  z-index: 2;
  color: yellow;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values:hover::before {
  width: calc(66% - 10px);
  background: #4e4e50;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(4) {
  padding: 10px;
  border-top: 1px solid #6f2232;
  border-left: 1px solid #6f2232;
  display: flex;
  justify-content: center;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(4) .interest-rate .field {
  color: #c3073f;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(4) .default {
  display: none;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(4):hover {
  background-color: #c3073f;
  color: white;
  border-radius: 0 0 10px 0;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(4):hover .interest-rate {
  display: none;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(4):hover .default {
  display: inline-block;
}

.Collateral .card-profile .user-info .loan-contract-details .item:nth-of-type(4):hover .default .value {
  color: yellow;
}

.Collateral .card-profile:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.Collateral .review-card {
  margin: auto;
  width: 96%;
  height: max-content;
  box-shadow: -4px -4px 16px -5px #000000, 4px 4px 16px -5px #000000;
  padding: 20px;
  border-radius: 12px;
}

.Collateral .review-card:hover {
  cursor: pointer;
}

.Collateral .review-card .review-title {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  font-size: 1.4rem;
}

.Collateral .review-card .review-title p {
  font-size: 1.4rem;
}

.Collateral .review-card .review-title p i {
  padding-right: 0.5rem;
  color: #950740;
}

.Collateral .review-card .review-comment {
  font-size: 1.2rem;
  opacity: 0.7;
  padding: 20px;
  border-bottom: 2px dashed lightgray;
}

.Collateral .review-card .review-comment p {
  display: inline-block;
}

.Collateral .review-card .review-comment p::before {
  content: open-quote;
}

.Collateral .review-card .review-comment p::after {
  content: close-quote;
}

.Collateral .review-card .review-comment p::before, .review-card .review-comment p::after {
  display: inline-block;
  vertical-align: bottom;
  color: #c3073f;
  font-size: 2.8rem;
  top: 0.2rem;
  left: -0.2rem;
  position: relative;
}

@keyframes visualize {
  0% {
    opacity: 0;
    position: absolute;
  }
  50% {
    opacity: 0;
    position: relative;
  }
  75% {
    opacity: 0.5;
    position: 8;
  }
  100% {
    opacity: 1;
    position: relative;
  }
}

.Collateral .review-card .hide-contract .hidden-contract {
  transition: transform 0.8s ease-in-out;
  opacity: 0;
  position: absolute;
  transform: translateY(-120%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 2px dashed #c3073f;
  border-top: 2px dashed #c3073f;
}

.Collateral .review-card .hide-contract .hidden-contract .contract-details {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  width: 100%;
}

.Collateral .review-card .hide-contract .hidden-contract .contract-details>* {
  padding: 10px 0;
  flex-grow: 1;
  border-bottom: 2px solid #6f2232;
}

.Collateral .review-card .hide-contract .hidden-contract .contract-details>* .field {
  color: #c3073f;
}

.Collateral .review-card .hide-contract .hidden-contract .contract-details .amount {
  border-right: 2px solid #6f2232;
}

.Collateral .review-card .hide-contract .hidden-contract .contract-details .amount:hover {
  background: #4e4e50;
  color: white;
}

.Collateral .review-card .hide-contract .hidden-contract .contract-details .amount:hover .field {
  color: inherit;
}

.Collateral .review-card .hide-contract .hidden-contract .contract-details .amount:hover .value {
  color: yellow;
}

.Collateral .review-card .hide-contract .hidden-contract .contract-details .issue-date {
  border-left: 2px solid #6f2232;
}

.Collateral .review-card .hide-contract .hidden-contract .contract-details .issue-date:hover {
  background: #4e4e50;
  color: white;
}

.Collateral .review-card .hide-contract .hidden-contract .contract-details .issue-date:hover .field {
  color: inherit;
}

.Collateral .review-card .hide-contract .hidden-contract .contract-details .issue-date:hover .value {
  color: yellow;
}

.Collateral .review-card .hide-contract:hover .hidden-contract {
  animation-name: visualize;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  transform: translateY(0%);
}

.Collateral .review-card .hide-contract:hover .down-arrow i {
  color: #c3073f;
  transform: rotate(180deg);
}

.Collateral .review-card .hide-contract .down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  color: #4e4e50;
  font-size: 1.2rem;
}

.Collateral .review-card .hide-contract .down-arrow i {
  transition: all 0.5s ease-in-out;
}

.Collateral .scroller::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

.Collateral .scroller::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.Collateral .scroller::-webkit-scrollbar-thumb {
  background-color: #c3073f;
  border-radius: 10px;
}

.Collateral .temp {
  position: absolute;
}

.Collateral .special-item {
  padding: 10px;
  border-top: 1px solid #6f2232;
  border-right: 1px solid #6f2232;
  display: flex;
  justify-content: center;
}

.Collateral .special-item .next-installment .field {
  color: #c3073f;
}

.Collateral .special-item .amount {
  display: none;
}

.Collateral .special-item:hover {
  background-color: #c3073f;
  color: white;
  border-radius: 0 0 0 10px;
}

.Collateral .special-item:hover .next-installment {
  display: none;
}

.Collateral .special-item:hover .amount {
  display: inline-block;
}

.Collateral .special-item:hover .amount .value {
  color: yellow;
}

.Collateral .main {
  font-family: "Staatliches", cursive;
}

.Collateral .icon {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 2px dashed #c3073f;
  margin-bottom: 40px;
  color: #333;
  text-align: left;
}

.Collateral .registration {
  margin-left: 10vw;
  margin-right: 10vw;
}

.Collateral .form {
  padding-top: 10vh;
  font-family: "Dosis", sans-serif;
  font-size: 1.8rem;
}

.Collateral .form .video {
  margin: 5rem 0;
  outline-offset: 5px;
  outline-width: 4px;
  outline-style: dashed;
  outline-color: #c3073f;
}

.Collateral .form .video>* {
  cursor: pointer;
  width: 100%;
  height: 480px;
}

/*# sourceMappingURL=collateral.css.map */